<link rel="stylesheet" href="footer.css">
<header class="headFoot">
        <nav>
            <ul>
                <li><a class = "hds" href="https://drive.google.com/file/d/1v-x0uNUztPFt1FvIoWU8tbKoF-1TfE62/view?usp=sharing" target="_blank">My Resume</a></li>
                <li><a class = "hds" href="https://github.com/vecods-source" target="_blank">Github</a></li>
                <li><a class = "hds" href="https://www.linkedin.com/in/mohamed-saad-a41894320/" target="_blank">LinkedIn</a></li>
            </ul>
        </nav>
</header>
